.login{
  width: 100%;
  max-width: 300px;
  display: block;
  margin: 0 auto;

}
.card{
  height: 450px;
  width: 350px;
  border: 2px solid black;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}
.text-center{
  padding: 5px;
}